@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
}

.login {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/997/201/154/music-equalizer-wallpaper-preview.jpg);
  position: fixed;
  top: 0;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  padding-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 400px;
    width: 400px;
  }
}
#cancel-div{
  display: inline-block;
}

.home-btns {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.home-btns button {
  margin: 20px;
}

h1 {
  margin: 20px 0px 120px 0px;
  text-align: center;
}

img {
  margin-left: 20px;
}

.show-orders-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#order-div {
  margin: 20px;
}

.order-card {
  margin: 20px;
}

h2 {
  text-align: center;
}

.add-item-form {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.orderDetailButtons {
  display: flex;
  flex-direction: row;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  justify-content: space-evenly;
  
}

.order-details-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 35%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.add-order-form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-top: 20px;
}

.form-floating {
  margin-top: 20px;
}

.create-order-btn {
  margin-top: 20px;
}

.order-details-btn {
  padding: 5px 30px;
}

.close-order-form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#revenuePage {
  text-align: center;
}
